@model n01569183Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h1>@Model.FName @Model.LName</h1>
<p class="caption">Teacher</p>
<hr />

<h2>General Information</h2>
<table class="table">
    <tr>
        <th>Employee Number</th>
        <th>Hire Date</th>
        <th>Salary (/hr)</th>
    </tr>
    <tr>
        <td>@Model.EmployeeNumber</td>
        <td>@Model.HireDate</td>
        <td>@Model.Salary</td>
    </tr>
</table>

<h2>Classes</h2>
@{
    <table class="table">
        <tr>
            <th>Class Code</th>
            <th>Class Name</th>
        </tr>
        @foreach (var classData in @Model.classList)
        {
            <tr>
                <td><a href="~/Class/Show/@classData.ClassId">@classData.ClassCode</a></td>
                <td>@classData.ClassName</td>
            </tr>
        }

    </table>
}

